@{
    ViewData["Title"] = "Template Builder";
}

<div>
    <h4>Input <i>JSON</i></h4>
    <div class="form-group">
        <span id="error_panel" class="label label-danger" style="display:none;"></span>
    </div>
    <div class="form-group">
        <textarea id="txt_FormJson" class="form-control" placeholder="Enter a Valid JSON"></textarea>
    </div>
    <div class="form-group">
        <button id="btn_Generate" class="btn btn-success btn-lg" value="Generate" onClick="generateForm()">Generate</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#txt_FormJson').on('focus', function () {
            $('#error_panel').hide();
        });
    });

    function generateForm() {
        try {
            let json = JSON.parse(document.getElementById("txt_FormJson").value);
            if (json) {
                $.ajax({
                    "url": "/home/index",
                    "type": "POST",
                    "data": { jsonData: JSON.stringify(json) },
                    "dataType": "json",
                    success: function (response, status) {
                        console.log(response.StatusCode, status);
                        window.location.href = 'home/form/';
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            }
        }
        catch (error) {
            $('#error_panel').text(error);
            $('#error_panel').show();
            console.error(error);
        }
    }
</script>
